    /*custom font*/
    @import url(https://fonts.googleapis.com/css?family=Montserrat);

    /*basic reset*/
    * {
        margin: 0;
        padding: 0;
    }
    /*basic reset
    html {
        height: 100%;
        background: #6441A5; /* fallback for old browsers */
        /* background: -webkit-linear-gradient(to left, #6441A5, #2a0845); /* Chrome 10-25, Safari 5.1-6 */
    /* }
    */
    body {
        font-family: montserrat, arial, verdana;
        background: transparent;
    }
    
    /*form styles*/
    #msform {
        text-align: center;
        position: relative;
       margin-top: 30px;
    }
    
    #msform fieldset {
        background: white;
        border: 0 none;
        border-radius: 0px;
        box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        width: 80%;
        margin: 0 10%;
    
        /*stacking fieldsets above each other*/
        position: relative;
    }
    
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
        display: none;
    }
    
    /*inputs*/
    #msform input, #msform textarea {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }

    #msform select{
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 10px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        font-size: 13px;
    }

    
    #msform input:focus, #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #312f30;
        outline-width: 0;
        transition: All 0.5s ease-in;
        -webkit-transition: All 0.5s ease-in;
        -moz-transition: All 0.5s ease-in;
        -o-transition: All 0.5s ease-in;
    }
    
    #msform input:required:invalid {
        border-color: red; 
        animation: blink 1s infinite;
      }
      
      #msform  input:required:valid {
        border-color: green;
      }

       
      
      #msform textarea:required:invalid {
        border-color: red; 
        animation: blink 1s infinite;
      }
      
      #msform  textarea:required:valid {
        border-color: green;
      }
 
/* Style de base du select */
  
  /* Style de la bordure rouge */
  #msform select:invalid {
    border-color: red !important;
  }
  
  /* Style de la bordure verte */
  #msform select:valid {
    border-color: green !important;
  }
  

  
    /*buttons*/
    #msform .action-button {
        width: 100px;
        background: #ee0979;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 2px;
        margin: 5px 2px;
    }
    
    #msform .action-button:hover, #msform .action-button:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
    }
    
    #msform .action-button-previous {
        width: 100px;
        background: #C5C5F1;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 2px;
        margin: 5px 2px;
    }
    
    #msform .action-button-previous:hover, #msform .action-button-previous:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
    }
    
    /*headings*/
    .fs-title {
        font-size: 18px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    
    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }
    
    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }
    
    #progressbar li {
        list-style-type: none;
        color: #2a0845; /*white*/
        text-transform: uppercase;
        font-size: 9px;
        width: 19.33%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }
    
    #progressbar li:before {
        content: counter(step);
        counter-increment: step;
        width: 24px;
        height: 24px;
        line-height: 26px;
        display: block;
        font-size: 12px;
        color: white;
        background: #2a0845; /*white*/
        border-radius: 25px;
        margin: 0 auto 10px auto;
    }
    
    /*progressbar connectors*/
    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: #2a0845; /*white*/
        position: absolute;
        left: -50%;
        top: 9px;
        z-index: -1; /*put it behind the numbers*/
    }
    
    #progressbar li:first-child:after {
        /*connector not needed before the first step*/
        content: none;
    }
    
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    #progressbar li.active:before, #progressbar li.active:after {
        background: #ee0979;
        color: white;
    }
    
    
    /* Not relevant to this form */
    .dme_link {
        margin-top: 30px;
        text-align: center;
    }
    .dme_link a {
        background: #FFF;
        font-weight: bold;
        color: #ee0979;
        border: 0 none;
        border-radius: 25px;
        cursor: pointer;
        padding: 5px 25px;
        font-size: 12px;
    }
    
    .dme_link a:hover, .dme_link a:focus {
        background: #C5C5F1;
        text-decoration: none;
    }

    .required {
        color: red;
        margin-left: 5px;
      }
      
      .fa-star::before {
        content: "\f005";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 5px;
      }


























      #activemyIdt  .toast {
        position: absolute;
        top: 25px;
        right: 30px;
        width: 65vh;
        border-radius: 12px;
        background: #fff;
        padding: 20px 35px 20px 25px;
        box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
        animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) forwards, disappear 0.3s linear 4.5s forwards;
        display: block !important;
        }
      
        #activemyIdt .toast.activemyId {
        transform: translateX(0%);
        }
      
        #activemyIdt .toast .toast-content {
        display: flex;
        align-items: center;
        }
      
        #activemyIdt .toast-content .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        }
      
        #activemyIdt .message .text {
        font-size: 16px;
        font-weight: 400;
        color: #666666;
        }
      
        #activemyIdt .message .text.text-1 {
        font-weight: 600;
        color: #333;
        }
      
        #activemyIdt  .toast .close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
        opacity: 0.7;
        }
      
        #activemyIdt .toast .close:hover {
        opacity: 1;
        }
      
        #activemyIdt  .toast .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
      
        }
      
   
      
        #activemyIdt .toast-content .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: #4070f4 !important;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
        }
      
      
        #activemyIdt .toast  .progress:before {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #c90c0c;
        }
  
        #activemyIdt .toast-content .check {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        min-width: 35px;
        background-color: #c90c0c;
        color: #fff;
        font-size: 20px;
        border-radius: 50%;
        }
        
        #activemyIdt .toast-content .fa-exclamation-triangle {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 35px;
          min-width: 35px;
          background-color: #c90c0c;
          color: #fff;
          font-size: 20px;
          border-radius: 50%;
          }
      
        #activemyIdt .progress.activemyId:before {
        animation: progress 5s linear forwards;
        }
      
        @keyframes progress {
        100% {
            right: 100%;
        }
        }
      
      
            @keyframes shake {
            0% {
                transform: translate(0);
            }
            25% {
                transform: translate(3px, 3px);
            }
            50% {
                transform: translate(0);
            }
            75% {
                transform: translate(-3px, -3px);
            }
            100% {
                transform: translate(0);
            }
            }
      
            @keyframes disappear {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
            }

            .responsive-iframe {
                position: relative;
              }
              .responsive-iframe iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height:  90vh;
              }